.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}

body {
  font-family: "Embed code", sans-serif;
}

/****************************** NAVBAR ****************/

.logo {
  width: 16.25rem;
}

/****************************** MENU LINKS ****************/

nav a.nav-link {
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
@media(max-width:768px){
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);

}

.navbar-nav>li>a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/****************************** HEADER ****************/

.header-wraper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Embed code", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}



/****************************** TYPED TEXT ****************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}


@media(max-width:768px){
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/****************************** HEADER MAIN OFFER BUTTON ****************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}


/****************************** Body ****************/

.body{
  max-width: 1180px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.about{
  width: 100%;
  padding: 2rem 0;
}

.experience{
  width: 100%;
  padding: 2rem 0;
}

.education{
  width: 100%;
  padding: 2rem 0;
}

.skills{
  width: 100%;
  padding: 2rem 0;
}



/****************************** Footer ****************/

.footer{
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
}

.footer-container{
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.left{
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

.location{
  display: flex;
  margin-top: 0.8rem;
}

.email{
  display: flex;
  margin-top: 0.8rem;
  color: white;
}


.location p{
  line-height: 30px;
  color: white;
}

.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

.social{
  margin-top: 1rem;
}